In [2]:
import numpy as np
import scipy.stats as stats
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

rock = '/Users/roshkhadka/Desktop/DSI-SF-4/datasets/rock_songs/rock.csv'
rock = pd.read_csv(rock)

In [3]:
rock.head()

,Song Clean,ARTIST CLEAN,Release Year,COMBINED,First?,Year?,PlayCount,F*G
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1

In [6]:
rock.dtypes

Song Clean      object
ARTIST CLEAN    object
Release Year    object
COMBINED        object
First?           int64
Year?            int64
PlayCount        int64
F*G              int64
dtype: object

In [20]:
rock.rename(columns={'Year?':'year','Song Clean':'song_name', 'ARTIST CLEAN':'artist_name', 'Release Year':'release_year', 'COMBINED':'song_artist_name', 'First?':'first','PlayCount':'play_count', 'F*G':'f_g'}, inplace= True)

In [21]:
# rock.rename('Year?')

In [22]:
rock.head()

,song_name,artist_name,release_year,song_artist_name,first,year,play_count,f_g
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1

In [30]:
rock.describe(exclude ).T

TypeError: include and exclude must both be non-string sequences