In [3]:
import pandas as pd
import numpy as np
from scrapy.selector import Selector
from scrapy.http import HtmlResponse
import requests

In [4]:
df = pd.read_csv("../../Craigslist_Project/Data/Craigs_2_4")

In [5]:
# Cleaniang Geo_Tag:

location = df.Geo_Tag
city =df.City
df_location = pd.DataFrame([city, location]).T

df_location.dropna(inplace = True)

In [6]:
df.isnull().sum()

Ids           144
Title         144
City            0
Geo_Tag      3133
Where        1947
Who_to        502
Age          3808
Height       4544
Body_type    4122
Body          146
Datetime       72
Has_Image      72
Has_Maps       72
URL            72
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8143 entries, 0 to 8142
Data columns (total 14 columns):
Ids          7999 non-null float64
Title        7999 non-null object
City         8143 non-null object
Geo_Tag      5010 non-null object
Where        6196 non-null object
Who_to       7641 non-null object
Age          4335 non-null float64
Height       3599 non-null object
Body_type    4021 non-null object
Body         7997 non-null object
Datetime     8071 non-null object
Has_Image    8071 non-null object
Has_Maps     8071 non-null object
URL          8071 non-null object
dtypes: float64(2), object(12)
memory usage: 890.7+ KB

In [8]:
# Cleaning Geo_Tag:

location = df.Geo_Tag
city =df.City
df_location = pd.DataFrame([city, location]).T

df_location.dropna(inplace = True)

In [9]:
df_location.isnull().sum()

City       0
Geo_Tag    0
dtype: int64

In [10]:
df_location.Geo_Tag= df_location.Geo_Tag.map(lambda x: str(x))

In [11]:
df_location.Geo_Tag[0].split(',')[0].split('(')[1]

'30.3423'

In [12]:
df_location.Geo_Tag[0].split(',')[1].split(')')[0]

' -97.6673'

In [13]:
df_location.reset_index(drop = True, inplace=True)

In [14]:
df_location

        City                   Geo_Tag
0     austin       (30.3423, -97.6673)
1     austin   (30.641818, -97.617309)
2     austin   (30.255412, -97.762357)
3     austin   (30.268352, -97.740276)
4     austin       (30.2896, -97.7396)
5     austin        (30.3223, -97.739)
6     austin       (30.2638, -97.7166)
7     austin       (30.2428, -97.7658)
8     austin    (30.492616, -97.67704)
9     austin   (30.478063, -97.803286)
10    austin   (30.287856, -97.748215)
11    austin       (30.4036, -97.7526)
12    austin       (30.4421, -97.6299)
13    austin   (30.297018, -97.669144)
14    austin       (30.5052, -97.8203)
15    austin   (30.492801, -97.802246)
16    austin       (30.0918, -97.8534)
17    austin   (29.989434, -97.819691)
18    austin       (30.2428, -97.7658)
19    austin       (30.2315, -97.7223)
20    austin       (30.2713, -97.7426)
21    austin   (30.246843, -97.743913)
22    austin    (30.39467, -97.869232)
23    austin    (30.41093, -97.676182)
24    austin   (30.261755, -97.727112)
25    austin       (30.2896, -97.7396)
26    austin   (30.463027, -97.609577)
27    austin   (30.212962, -97.830044)
28    austin       (30.2428, -97.7658)
29    austin   (30.251068, -97.735367)
...      ...                       ...
4980   sfbay  (37.851001, -122.295685)
4981   sfbay   (36.97505, -122.026373)
4982   sfbay  (37.773123, -122.412329)
4983   sfbay  (37.686424, -121.855589)
4984   sfbay      (37.7621, -122.3971)
4985   sfbay      (37.7974, -122.4001)
4986   sfbay      (37.7712, -122.4413)
4987   sfbay      (37.7621, -122.3971)
4988   sfbay  (37.760517, -122.505181)
4989   sfbay  (37.764744, -122.419281)
4990   sfbay  (37.763566, -122.457536)
4991   sfbay  (37.768798, -122.395667)
4992   sfbay   (37.79016, -122.423975)
4993   sfbay      (37.2803, -121.9539)
4994   sfbay      (37.6196, -122.4816)
4995   sfbay  (38.463261, -122.717599)
4996   sfbay      (37.7354, -122.4571)
4997   sfbay      (37.2458, -121.8306)
4998   sfbay      (37.9691, -122.5105)
4999   sfbay      (38.4399, -122.7096)
5000   sfbay      (37.6873, -121.8957)
5001   sfbay  (37.770036, -122.438335)
5002   sfbay   (37.283614, -121.90464)
5003   sfbay       (37.954, -122.0737)
5004   sfbay      (38.3309, -123.0373)
5005   sfbay      (37.7813, -122.4167)
5006   sfbay       (37.8005, -122.465)
5007   sfbay  (37.580497, -122.347291)
5008   sfbay  (37.789743, -122.404486)
5009   sfbay      (37.6875, -122.4388)

[5010 rows x 2 columns]

In [19]:
df_location["Latitude"] = 1
df_location["Longitude"] =1

In [20]:
for i in range(df_location.shape[0]):
    df_location["Latitude"][i] = df_location.Geo_Tag[i].split(',')[0].split('(')[1]
    df_location["Longitude"][i] = df_location.Geo_Tag[i].split(',')[1].split(')')[0]

/Users/roshkhadka/anaconda/envs/dsi/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Users/roshkhadka/anaconda/envs/dsi/lib/python2.7/site-packages/pandas/core/indexing.py:132: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
/Users/roshkhadka/anaconda/envs/dsi/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [21]:
df_location.Latitude = df_location.Latitude.map(lambda x: float(x))
df_location.Longitude = df_location.Longitude.map(lambda x: float(x))

In [22]:
df_location.head()

     City                  Geo_Tag   Latitude  Longitude
0  austin      (30.3423, -97.6673)  30.342300 -97.667300
1  austin  (30.641818, -97.617309)  30.641818 -97.617309
2  austin  (30.255412, -97.762357)  30.255412 -97.762357
3  austin  (30.268352, -97.740276)  30.268352 -97.740276
4  austin      (30.2896, -97.7396)  30.289600 -97.739600

In [23]:
df_sf_location = df_location[df_location.City == "newyork"]
df_sf_location.reset_index(drop = True, inplace=True)

In [25]:
import folium
from folium import plugins                          
import random

city_map = folium.Map(location=[40.776253, -73.776016])

data = []

for each_row in range(df_sf_location.shape[0]):
    data.append([df_sf_location.ix[each_row,'Latitude'],df_sf_location.ix[each_row,'Longitude']])

for each_row in data:
    hm = plugins.HeatMap(data, blur =40, min_opacity = 5)
    city_map.add_children(hm)

city_map.save("../Craigslist_Project/Codes/heatmap1.html")

#       hm = plugins.HeatMap()
# for each_crow in range(df_sf_location.shape[0]):
#     city_map.simple_marker(location = [df_sf_location.ix[each_row,'Latitude'],df_sf_location.ix[each_row,'Longitude']],
#                           )

# for each_row in range(df_sf_location.shape[0]):
#     data = [df_sf_location.ix[each_row,'Latitude'],df_sf_location.ix[each_row,'Longitude']]
#     data = ([df_sf_location.ix[each_row,'Latitude']], [df_sf_location.ix[each_row,'Longitude']])
#       hm = plugins.HeatMap()
#     city_map.add_children(hm)
#     city_map.h(location = [df_sf_location.ix[each_row,'Latitude'],df_sf_location.ix[each_row,'Longitude']],
#                           )
#     hm = plugins.([df_sf_location.ix[each_row,'Latitude'],df_sf_location.ix[each_row,'Longitude']])
#ity_map.add_children(hm)

IOError: [Errno 2] No such file or directory: '../Craigslist_Project/Codes/heatmap1.html'